<script src="{{ '/assets/js/main.min.js' | relative_url }}"></script>
<script>
  // Open off-site links in a new tab. Replaces the theme's global base-target=_blank,
  // which also forced the in-page nav anchors into new tabs.
  (function () {
    var links = document.links;
    for (var i = 0; i < links.length; i++) {
      var a = links[i];
      if ((a.protocol === 'http:' || a.protocol === 'https:') && a.host !== window.location.host) {
        a.target = '_blank';
        a.rel = (a.rel ? a.rel + ' ' : '') + 'noopener';
      }
    }
  })();
</script>

{% include analytics.html %}
